*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-family: 'Press Start 2P';
  font-size: 2rem;
}

body {
  background-color: rgb(0, 6, 9);
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-direction: column;
  height: 98vh;
}

.main-game {
  transition: 0.3s ease;  
}

#canvas-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid tomato;
  
}

#bg-image {
  display: none;
}

#bg-image-parralax-1 {
  display: none;
}

#bg-image-parralax-2 {  
  display: none;
}

#bg-image-parralax-3 { 
  display: none;
}

#hero-image {  
  display: none;
}

#enemy-image {
  display: none;
}

button {
  padding: 10px 20px;
  background-color: tomato;
  outline: none;
  border: none;
  color: white;
  font-size: 16px;
  font-family: 'Press Start 2P';
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  outline: 2px solid white
}

.ui {
  display: flex;
  justify-content: space-between;
  width: 960px;
  padding-top: 10px;
}

.score-wrapper, 
.best-score-wrapper {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.score-text,
.best-score-text,
#best-score,
#score {
  color: white;
  line-height: 60px;
  font-size: 30px;
}

#restart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 300px;
  height: 100px;
  font-size: 36px;
  border-radius: 10px;
  display: none;
}

#start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 300px;
  height: 100px;
  font-size: 36px;
  border-radius: 10px;
}

#start-btn:active, #restart-btn:active {
  outline: 2px solid white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  width: 960px;
  color: white
}

a {
  text-decoration: none;
  color: white
}

a:hover {
  color: tomato;
}

.mute {
  font-size: 12px;
  width: 120px;
}

.info {
  margin-top: 20px;
  padding: 16px;
  font-size: 14px;
  width: 960px;
  max-height: 100px;
  border: 2px solid tomato;
  color: white;
  text-align: center;
}