:root {
  --color-gold: #bdae82;
  --color-black: #000;
  --color-white: #fff;
  --font60: 60px;
  --font40: 40px;
  --font20: 20px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul,
li {
  list-style: none;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-container {
  background: url("./assets/img/bgHeader.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  padding: 20px 15px;
  font-size: var(--font20);
  line-height: 50px;
}

.nav__link {
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--color-gold);
}

.lang__item {
  font-weight: 700;
  font-size: var(--font20);
  color: var(--color-white);
}

.lang-active {
  color: var(--color-gold);
}

.lang-wrapper {
  margin-left: 16px;
}

.header__logo {
  background-size: contain;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
}

.logo-icon {
  width: 50px;
  height: 50px;
  fill: var(--color-white);
}

.logo-icon:hover {
  fill: var(--color-gold);
}

.hero-container {
  background-image: url("./assets/img/bgHeader.jpg");
  background-position: center -90px;
  background-repeat: no-repeat;
  height: 910px;
}

.hero-inner {
  padding: 160px 0 0 60px;
  max-width: 550px;
  min-height: 330px;
}

.hero__title {
  font-weight: 700;
  font-family: Merriweather;
  font-size: var(--font60);
  color: var(--color-white);
  line-height: 120px;
}

.hero__text {
  line-height: 40px;
  font-weight: 400;
  font-size: var(--font20);
  padding-top: 10px;
}

.hero__button {
  line-height: 40px;
  padding: 8px 73px 7px 73px;
  margin-top: 25px;
  background-color: var(--color-gold);
  border: none;
  font-size: var(--font20); 
  transition: color 0.3s ease-in-out;
}

.hero__button:hover {
  color: var(--color-white);
  cursor: pointer;
}
